<footer class="site-footer">
    <div class="text-center">
        {{year()}} &copy; EDLAC.
        <a href="#" class="go-top">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>
</footer>